footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}

.logo {
    color: #ffffff;
    border-color: #ffffff;
    padding-right: 50px;
}

a {
    color: #ffffff!important;
}

.btn-btn-warning{
    background-color: #ffffff;
}